@media screen and (max-width: 800px) and (min-width:300px) {
	#primaryDetailsImgCircle {
		height: 100px !important;
		width: 100px !important;
		margin-top: -60px;
	}
	
	#viewApp{
		margin-top: 37px !important;
	}
	
	#primaryDetailsImg {
		height: 264px !important;
	}
}

#primaryDetailsImgCircle {
	height: 200px;
	width: 200px;
}

#viewApp{
		margin-top: 12%;
	}

#primaryDetailsImg {
	height: 364px;
	
}

img {
	display: block;
}

.small {
	margin-top: -100px;
	margin-left: 3%;
	border-radius: 100px;
	border: none;
}

p {
	margin-bottom: 0px;
	margin-left: 10px;
}