#menuLarge {
	height: 120px;
}

.ng-cloak {
	display: none;
}

.btn {
	padding: 5px 10px;
}

.navbar-toggle {
	padding: 7px 5px;
	margin: 0px;
}

.navbar-inverse .navbar-nav>li>a {
	color: black;
}

@media screen and (max-width: 800px) and (min-width:300px) {
	.navbar {
		position: fixed;
		width: 75%;
		z-index: 100;
		background-color: #e60000;
		border-color: #e60000;
	}
	#example-navbar-collapse {
		text-align: left !important;
	}
	#example-navbar-collapse>ul {
		display: inline-block !important;
		float: unset !important;
		width: 83%;
	}
	#example-navbar-collapse>ul>li {
		width: 100% !important;
		/* text-align:center !important; */
		float: left;
		background-color: #e60000;
	}
}

.navbar-nav>li>a {
	padding-top: 0px;
	padding-bottom: 0px;
}

@media ( max-width : 3600px) {
	#searchEventDiv2 {
		margin-top: 1px;
	}
	#menuLargediv {
		width: 100%;
	}
	#activeSearchBtn {
		margin-left: 240px;
	}
	.dropdown-menu {
		margin-left: 130px;
	}
	#drpdwnbtn {
		margin-left: 130px;
	}
	#genreList {
		width: 80%;
	}
	#genreInput {
		width: 80%;
	}
	.footdiv {
		width: 50%;
		display: inline;
	}
	.footdiv div {
		float: right;
		margin-right: 10px;
	}
	/*
		Added for Menu
	*/
}

@media ( max-width : 1024px) {
	#activeSearchBtn {
		margin-left: 100px;
	}
	.navbar-toggle {
		left: 135px;
	}
}

#example-navbar-collapse {
	text-align: center !important;
	margin-top: 15px;
}

#example-navbar-collapse>ul {
	display: inline-block !important;
	float: unset !important;
	width: 83%;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	padding-top: 5px;
	padding-bottom: 5px;
}

#example-navbar-collapse>ul>li {
	width: 33.33% !important;
	/* text-align:center !important; */
	float: left;
	background-color: transparent;
}

@media ( max-width : 800px) {
	/* #menuNavHead {
		margin-left: -40%;
	} */
	.dropdown-menu {
		margin-left: 80px;
	}
	#searchEventDiv2 {
		margin-top: -29px;
	}
	#drpdwnbtn {
		margin-left: 80px;
	}
	#menuLargediv {
		width: 70%;
	}
	#headerLogoDiv a {
		margin-left: 85%;
	}
}

@media ( min-width : 768px) {
	.navbar-toggle {
		display: block;
	}
}

@media ( max-width : 768px) {
	.dropdown-menu {
		margin-left: 13px;
	}
	#drpdwnbtn {
		margin-left: 15px;
	}
	#activeSearchBtn {
		margin-left: 160px;
	}
	#searchEventDiv1 {
		margin-left: 25% !important;
	}
	#genreInput {
		width: 85%;
	}
	#genreList {
		width: 85%;
		margin-left: 25% !important;
	}
	#menuNavHead button {
		left: 200px;
	}
}

@media ( max-width : 600px) {
	#drpdwnbtn {
		margin-left: 15px;
	}
	#activeSearchBtn {
		margin-left: 160px;
	}
	#searchEventDiv1 {
		margin-left: 25% !important;
	}
	#genreInput {
		width: 85%;
	}
	#genreList {
		width: 85%;
		margin-left: 25% !important;
	}
	#menuNavHead button {
		left: 200px;
	}
}

@media ( max-width : 480px) {
	#menuLarge {
		height: 75px;
	}
	#menuLargediv {
		width: 100%;
	}
	#headerLogoDiv a {
		margin-left: 1%;
	}
	#activeSearchBtn {
		margin-left: 45px;
	}
	#menuNavHead {
		margin-left: 80px !important;
	}
	#genreList {
		width: 59%;
	}
}

@media ( max-width : 500px) {
	.footdiv {
		width: 100%;
	}
	#drpdwnbtn {
		margin-left: 15px;
	}
	.dropdown-menu {
		margin-left: 13px;
	}
	#genreInput {
		width: 59%;
	}
	.footdiv div {
		margin-left: 10px;
		margin-right: 40px;
	}
	.eventList {
		margin-bottom: 10%;
	}
	#example-navbar-collapse {
		text-align: left !important;
		border: none;
		width: 100%;
	}
	#example-navbar-collapse>ul {
		display: inline-block !important;
		float: unset !important;
		width: 98%;
		margin: 0 auto;
	}
	#example-navbar-collapse>ul>li {
		width: 100% !important;
		/* text-align:center !important; */
		float: left;
		background-color: #e60000;
	}
}

.navbar-header, .navbar-brand {
	text-align: center;
	float: none;
	margin-top: 1%;
}

.navbar {
	position: fixed;
	width: 100%;
	z-index: 100;
	background-color: #e60000;
	background: linear-gradient(#e60000 60%, #ffffff);
	border: none;
}

.navbar-bottom {
	background: linear-gradient(#ffffff, #e60000 60%);
	border: none;
}

.navbar-inverse .navbar-brand {
	color: #FFFFFF;
}

body {
	color: #000000;
}

.awesomplete {
	width: 87% !important;
}

div.awesomplete {
	display: inline-table;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
	display: inline-block;
}

.socialMediaImage {
	padding-right: 5px;
	display: inherit !important;
}

.socialMediaImageLast {
	display: inherit !important;
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader {
	display: none;
}

.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}

@media ( max-width : 360px) {
	#menuNavHead button {
		left: 54px;
	}
	#menuNavHead {
		margin-left: 0px !important;
	}
	#activeSearchBtn {
		margin-left: 20px !important;
	}
	#searchEventDiv1 {
		margin-left: 15% !important;
	}
	#genreList {
		margin-left: 15% !important;
	}
}

@media ( max-width : 400px) {
	#menuNavHead button {
		left: 54px;
	}
	#menuNavHead {
		margin-left: 0px !important;
	}
	#activeSearchBtn {
		margin-left: 20px !important;
	}
	#searchEventDiv1 {
		margin-left: 15% !important;
	}
	#genreList {
		margin-left: 15% !important;
	}
}

@media ( max-width : 450px) {
	#menuNavHead button {
		left: 54px;
	}
	#menuNavHead {
		margin-left: 0px !important;
	}
	#activeSearchBtn {
		margin-left: 20px !important;
	}
	#searchEventDiv1 {
		margin-left: 15% !important;
	}
	#genreList {
		margin-left: 15% !important;
	}
}

@media ( max-width : 450px) {
	#activeSearchBtn {
		margin-left: 0px !important;
	}
	#menuNavHead button {
		left: 35px;
	}
}