<style>
.thumbnail {
	display: inline-block;
	width: 200px;
	position: relative;
}

#imgText {
	margin-left: 25px;
	margin-top: -20px;
	position: absolute;
	z-index: 100;
	color: white;
}

.caption {
	display: inline-block;
	position: absolute;
	margin-left: 1%;
}

.caption p {
	width: 95%;
}

.carousel {
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 10%;
}

.eventList {
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
}

.carousel-control {
	font-size: 40px !important;
	color: #000000 !important;
}

#rightArrow {
	padding-left: 55% !important;
	padding-top: 180px !important;
	position: absolute !important;
}

#leftArrow {
	padding-right: 55% !important;
	padding-top: 180px !important;
	position: absolute !important;
	left: -20px !important;
}

.carousel-inner {
	height: 450px;
}

.homeHeader {
	left: 0px;
	width: 100%;
	position: absolute;
	background-color: #f94609;
	/* z-index: 10; */
	margin-top: 3.3%;
}

/*following styles to make rolling images responsive  */
@media ( max-width : 1400px) {
	.homeHeader {
		margin-top: 3.6%;
	}
}

@media ( max-width : 1300px) {
	.homeHeader {
		margin-top: 4%;
	}
}

@media ( max-width : 1200px) {
	.homeHeader {
		margin-top: 4.2%;
	}
}

@media ( max-width : 1250px) {
	.homeHeader {
		margin-top: 5%;
	}
}

@media ( max-width : 1021px) {
	#rightArrow, #leftArrow {
		padding-top: 280px !important;
	}
	.carousel-inner {
		height: auto;
	}
	.homeHeader {
		margin-top: 4.9%;
	}
}

@media ( max-width : 991px) {
	.carousel {
		margin-top: 12%;
	}
	#rightArrow, #leftArrow {
		padding-top: 200px !important;
	}
	.carousel-inner {
		height: auto;
	}
}

@media ( max-width : 725px) {
	.carousel {
		margin-top: 15%;
	}
	.homeHeader {
		margin-top: 6.9%;
	}
}

@media ( max-width : 580px) {
	.carousel {
		margin-top: 18%;
	}
	#rightArrow, #leftArrow {
		padding-top: 140px !important;
	}
	.carousel-inner {
		height: auto;
	}
	.homeHeader {
		margin-top: 8.7%;
	}
}

@media ( max-width : 495px) {
	.carousel {
		margin-top: 21%;
	}
	#rightArrow, #leftArrow {
		padding-top: 110px !important;
	}
	.carousel-inner {
		height: auto;
	}
	.homeHeader {
		margin-top: 10%;
	}
}

@media ( max-width : 430px) {
	.carousel {
		margin-top: 25%;
	}
	#rightArrow, #leftArrow {
		padding-top: 95px !important;
	}
	.carousel-inner {
		height: auto;
	}
	.homeHeader {
		margin-top: 11.7%;
	}
}

@media ( max-width : 370px) {
	.carousel {
		margin-top: 28%;
	}
	#rightArrow, #leftArrow {
		padding-top: 80px !important;
	}
	.carousel-inner {
		height: auto;
	}
	.homeHeader {
		margin-top: 13%;
	}
	.homeHeader {
		margin-top: 13.5%;
	}
}

a {
	color: #000000;
}
</style>

<div id="myCarousel" class="carousel slide">

	<!-- Carousel indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
		<li data-target="#myCarousel" data-slide-to="4"></li>
	</ol>

	<!-- Carousel items -->
	<div class="carousel-inner">
		<div class="item active">
			<img src="images/02.jpg" alt="First slide">
		</div>

		<div class="item">
			<img src="images/05.jpg" alt="Second slide">
		</div>

		<div class="item">
			<img src="images/06.jpg" alt="Third slide">
		</div>

		<div class="item">
			<img src="images/07.jpg" alt="Fourth slide">
		</div>

		<div class="item">
			<img src="images/09.jpg" alt="Fifth slide">
		</div>
	</div>

	<!-- Carousel nav -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev"><span id="leftArrow">&lsaquo;</span></a> <a
		class="carousel-control right" href="#myCarousel" data-slide="next"><span id="rightArrow">&rsaquo;</span></a>

</div>
<br>
<br>
<div style="margin-left: 2%; margin-right: 2%; margin-top: 3%; border-bottom: 1px solid #e60000;">
	<p>Upcoming Events</p>
</div>

<div class="eventList" ng-repeat="eventsList in allEventsListHome">
	<div class="thumbnail">
		<!-- up -->
		<!-- <img ng-src="http://103.35.123.84:8080/project/images/{{eventsList.image}}" alt="Generic placeholder thumbnail"
			style="width: 80%;"> -->
		<!-- down -->
		<img ng-src="http://localhost:8080/project/images/{{eventsList.image}}" alt="Generic placeholder thumbnail"
			style="width: 80%;">
		<p id="imgText" ng-bind="eventsList.datetime"></p>
	</div>
	<div class="caption">
		<h4 class="media-heading">
			<a href="/soundtrip/#/eventdetails/{{eventsList.id}}-{{eventsList.name}}">{{eventsList.name}}</a>
		</h4>

		<p>{{eventsList.description}}</p>
		<p>{{eventsList.addressLine1}}, {{eventsList.addressLine2}}, {{eventsList.area}} {{eventsList.city.name}},
			{{eventsList.state}}, India - , {{eventsList.pinCode}}</p>
	</div>
</div>
<!-- <div class="row">
	<div style="margin-left: 4%; margin-right: 2%; margin-top: 3%;"
		ng-repeat="eventsList in allEventsListHome">
		<div style="display: inline-block; width: 25%;">
			<img
				ng-src="http://localhost:8081/project/images/{{eventsList.image}}"
				alt="Generic placeholder thumbnail" style="width: 80%;">
		</div>
		<div style="display: inline-block; width: 66%; position: absolute;">
			<p>
				<strong>{{eventsList.name}}</strong>
			</p>
			<p>Sat,Nov 14 at 10:30 PM</p>
			<p>{{eventsList.addressLine1}}</p>

		</div>
	</div> -->

<!-- <div style="margin-left: 4%; margin-right: 2%; margin-top: 3%;">
		<div style="display: inline-block; width: 25%;">
			<a href="#"> <img src="images/img_chania2.jpg"
				alt="Generic placeholder thumbnail" style="width: 80%;">
			</a>
		</div>
		<div style="display: inline-block; width: 66%; position: absolute;">
			<p>
				<strong>Strawberry Fields - A Tribu...</strong>
			</p>
			<p>Sat,Nov 14 at 10:30 PM</p>
			<p>B.B.King Blues Club & Grill</p>

		</div>
	</div>

	<div style="margin-left: 4%; margin-right: 2%; margin-top: 3%;">
		<div style="display: inline-block; width: 25%;">
			<a href="#"> <img src="images/img_flower.jpg"
				alt="Generic placeholder thumbnail" style="width: 80%;">
			</a>
		</div>
		<div style="display: inline-block; width: 66%; position: absolute;">
			<p>
				<strong>Strawberry Fields - A Tribu...</strong>
			</p>
			<p>Sat,Nov 14 at 10:30 PM</p>
			<p>B.B.King Blues Club & Grill</p>

		</div>
	</div>

	<div style="margin-left: 4%; margin-right: 2%; margin-top: 3%;">
		<div style="display: inline-block; width: 25%;">
			<a href="#"> <img src="images/img_flower2.jpg"
				alt="Generic placeholder thumbnail" style="width: 80%;">
			</a>
		</div>
		<div style="display: inline-block; width: 66%; position: absolute;">
			<p>
				<strong>Strawberry Fields - A Tribu...</strong>
			</p>
			<p>Sat,Nov 14 at 10:30 PM</p>
			<p>B.B.King Blues Club & Grill</p>

		</div>
	</div> -->
</div>

<script src="js/external/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/external/ie10-viewport-bug-workaround.js"></script>

<!-- jssor slider scripts-->
<!-- use jssor.slider.debug.js for debug -->
<script type="text/javascript" src="js/external/jssor.slider.mini.js"></script>
<script>
	jQuery(document).ready(function($) {
		var options = {
			$AutoPlay : true, //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
			$AutoPlaySteps : 1, //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
			$Idle : 2000, //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
			$PauseOnHover : 1, //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

			$ArrowKeyNavigation : true, //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
			$SlideEasing : $JssorEasing$.$EaseOutQuint, //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
			$SlideDuration : 800, //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
			$MinDragOffsetToSlide : 20, //[Optional] Minimum drag offset to trigger slide , default value is 20
			//$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
			//$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
			$SlideSpacing : 0, //[Optional] Space between each slide in pixels, default value is 0
			$Cols : 1, //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
			$ParkingPosition : 0, //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
			$UISearchMode : 1, //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
			$PlayOrientation : 1, //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
			$DragOrientation : 1, //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $Cols is greater than 1, or parking position is not 0)

			$ArrowNavigatorOptions : { //[Optional] Options to specify and enable arrow navigator or not
				$Class : $JssorArrowNavigator$, //[Requried] Class to create arrow navigator instance
				$ChanceToShow : 2, //[Required] 0 Never, 1 Mouse Over, 2 Always
				$AutoCenter : 2, //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
				$Steps : 1, //[Optional] Steps to go for each navigation request, default value is 1
				$Scale : false
			//Scales bullets navigator or not while slider scale
			},

			$BulletNavigatorOptions : { //[Optional] Options to specify and enable navigator or not
				$Class : $JssorBulletNavigator$, //[Required] Class to create navigator instance
				$ChanceToShow : 2, //[Required] 0 Never, 1 Mouse Over, 2 Always
				$AutoCenter : 1, //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
				$Steps : 1, //[Optional] Steps to go for each navigation request, default value is 1
				$Rows : 1, //[Optional] Specify lanes to arrange items, default value is 1
				$SpacingX : 12, //[Optional] Horizontal space between each item in pixel, default value is 0
				$SpacingY : 4, //[Optional] Vertical space between each item in pixel, default value is 0
				$Orientation : 1, //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
				$Scale : false
			//Scales bullets navigator or not while slider scale
			}
		};

		var jssor_slider1 = new $JssorSlider$("slider1_container", options);

		//responsive code begin
		//you can remove responsive code if you don't want the slider scales while window resizing
		function ScaleSlider() {
			var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
			if (parentWidth) {
				jssor_slider1.$ScaleWidth(parentWidth - 30);
			} else
				window.setTimeout(ScaleSlider, 30);
		}
		ScaleSlider();

		$(window).bind("load", ScaleSlider);
		$(window).bind("resize", ScaleSlider);
		$(window).bind("orientationchange", ScaleSlider);
		//responsive code end
	});

	function searchActive() {
		var scope = angular.element(document.getElementById("searchEventDiv"))
				.scope();
		scope.$apply(function() {
			scope.searchActive();
		});
	}

	function hideSearchEvent() {
		document.getElementById("genreList").style.display = 'none';
		document.getElementById("cityList").style.width = '48%';
		document.getElementById("searchEvent").style.width = '50%';
		document.getElementById("init-group").style.width = '90%';
		document.getElementById("hideSearchBtn").style.display = 'none';

	}
	/* function searchActive(event) {
		//alert("here:::"+event);
		if (event == 'focus') {
			document.getElementById("genreList").style.display = 'block';
			document.getElementById("cityList").style.width = '0%';
			document.getElementById("searchEvent").style.width = '100%';
			document.getElementById("init-group").style.width = '93%';
		} else if (event == 'blur') {
			//document.getElementById("genreList").style.display = 'none';
			document.getElementById("cityList").style.width = '48%';
			document.getElementById("searchEvent").style.width = '50%';
			document.getElementById("init-group").style.width = '90%';
		}
	} */
</script>

