<form id="newEventForm" style="margin-top: 5%;">
	<div class="table-responsive">
		<table class="table">
			<caption style="font-weight: bold; font-size: 14px;">
				<msg key="newEvent" />
			</caption>
			<tr>
				<td><label> <msg key="eventName"></msg></label></td>
				<td><input type="text" ng-model="neweventmaster.name" /></td>
				<td><label> <msg key="eventDescription"></msg></label></td>
				<td><input type="text" ng-model="neweventmaster.description" /></td>
			</tr>
			<tr>
				<td><label> <msg key="eventAdd1"></msg></label></td>
				<td><input type="text" ng-model="neweventmaster.addressLine1" /></td>
				<td><label> <msg key="eventAdd2"></msg></label></td>
				<td><input type="text" ng-model="neweventmaster.addressLine2" /></td>
			</tr>
			<tr>
				<td><label> <msg key="eventArea"></msg>
				</label></td>
				<td><input type="text" ng-model="neweventmaster.area" /></td>
				<td><label> <msg key="eventCity"></msg></label></td>
				<td>
					<!-- <input type="text" ng-model="neweventmaster.city" /> -->
					<div style="width: 50%; display: inline-block;">
						<select name="citySelect" id="citySelect"
							ng-options="city as city.name for city in cityOptions"
							ng-model="cityOption" ng-change="citySelectedForEventMaster()">
							<!-- <option ng-repeat="option in cityOptions">{{option.name}}</option> -->
						</select>
					</div>
				</td>
			</tr>
			<tr>
				<td><label> <msg key="eventState"></msg>
				</label></td>
				<td><input type="text" ng-model="neweventmaster.state" /></td>
				<td><label> <msg key="eventPincode"></msg></label></td>
				<td><input type="text" ng-model="neweventmaster.pinCode" /></td>
			</tr>
			<tr>
				<td><label> <msg key="eventDate"></msg></label></td>
				<td>
					<input id="selectEventDate" type="datetime" placeholder="click to show datepicker" ng-model="neweventmaster.datetime" />
	       				<script type="text/javascript">
    						$('#selectEventDate').datetimepicker({
        						//language:  'fr',
        						weekStart: 1,
        						todayBtn:  1,
								autoclose: 1,
								todayHighlight: 1,
								startView: 2,
								forceParse: 0,
        						showMeridian: 1
    						}).on('changeDate', function(ev){
								$('#selectEventDate').datetimepicker('hide');
								var element = angular.element($('#selectEventDate'));
								var controller = element.controller();
								var scope = element.scope();
								scope.$apply(function(){
								scope.datetimepickerval = ev.date;
								// scope.neweventmaster.datetime = ev.date;
							});
						});
						</script>
				</td>
				<td><label> <msg key="eventGenre"></msg></label></td>
				<td>
					<!-- <input type="text" ng-model="neweventmaster.city" /> -->
					<div style="width: 50%; display: inline-block;">
						<select name="genreSelect" id="genreSelect" ng-model="genreOption" ng-change="genreSelectedForEventMaster()">
							<option ng-repeat="option in genreOptions">{{option.name}}</option>
						</select>
					</div>
				</td>
			</tr>
			<tr>
				
				<td colspan="2"><label> <msg key="eventImage"></msg></label></td>
				<td>
					<div ng-repeat="step in stepsModel">
						<img class="thumb" ng-src="{{step}}" width="100px" height="100px" />
					</div> <input type='file' ng-model="neweventmaster.image"
					onchange="angular.element(this).scope().imageUpload(this)" multiple />
				</td>
			</tr>
			<tr>
				<td></td>
				<td style="text-align: right"><button type="submit" class="btn"
						ng-click="save()">
						<msg key="saveButton"></msg>
					</button></td>
				<td><button type="submit" class="btn" ng-click="cancel()">
						<msg key="cancelButton"></msg>
					</button></td>
				<td></td>
			</tr>
		</table>
	</div>
</form>

<table class="table table-stdriped">
	<tr>
		<th><msg key="eventName"></msg></th>
		<th><msg key="eventDescription"></msg></th>
		<th><msg key="eventAdd1"></msg></th>
		<th><msg key="eventAdd2"></msg></th>
		<th><msg key="eventArea"></msg></th>
		<th><msg key="eventCity"></msg></th>
		<th><msg key="eventState"></msg></th>
		<th><msg key="eventPincode"></msg></th>
		<th><msg key="eventGenre"></msg></th>
		<th><msg key="eventImage"></msg></th>
		<th><msg key="eventSchedule"></msg></th>
		<th><msg key="edit"></msg></th>
		<th><msg key="delete"></msg></th>
	</tr>
	<tr ng-repeat="eventmaster in eventmasters">
		<td>{{eventmaster.name}}</td>
		<td>{{eventmaster.description}}</td>
		<td>{{eventmaster.addressLine1}}</td>
		<td>{{eventmaster.addressLine2}}</td>
		<td>{{eventmaster.area}}</td>
		<td>{{eventmaster.city.name}}</td>
		<td>{{eventmaster.state}}</td>
		<td>{{eventmaster.pinCode}}</td>
		<td>{{eventmaster.genre}}</td>
		<td>
			<!-- up -->
<!-- 			<img
			ng-src="http://103.35.123.84:8080/project/images/{{eventmaster.image}}"
			alt="Generic placeholder thumbnail" height="100px" width="100px"> -->
			
			<!-- down -->
			<img
			ng-src="http://localhost:8080/project/images/{{eventmaster.image}}"
			alt="Generic placeholder thumbnail" height="100px" width="100px">
		</td>
		<td>{{eventmaster.datetime | date:'MM/dd/yyyy HH:mm:ss'}}</td>
		<td><a ng-click="edit($index)"><i class="glyphicon glyphicon-edit"></i></a></td>
		<td><a ng-click="delete(eventmaster)"><i class="glyphicon glyphicon-remove"></i></a></td>		
	</tr>
</table>