
<script type="text/javascript" src="js/external/rolling.js"></script>

<style>
.jssorb05 {
	position: absolute
}

.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
	position: absolute;
	width: 16px;
	height: 16px;
	background: url('images/b05.png') no-repeat;
	overflow: hidden;
	cursor: pointer
}

.jssorb05 div {
	background-position: -7px -7px
}

.jssorb05 div:hover, .jssorb05 .av:hover {
	background-position: -37px -7px
}

.jssorb05 .av {
	background-position: -67px -7px
}

.jssorb05 .dn, .jssorb05 .dn:hover {
	background-position: -97px -7px
}

.jssora12l, .jssora12r {
	display: block;
	position: absolute;
	width: 30px;
	height: 46px;
	cursor: pointer;
	background: url('images/a12.png') no-repeat;
	overflow: hidden
}

.jssora12l {
	background-position: -16px -37px
}

.jssora12r {
	background-position: -75px -37px
}

.jssora12l:hover {
	background-position: -136px -37px
}

.jssora12r:hover {
	background-position: -195px -37px
}

.jssora12l.jssora12ldn {
	background-position: -256px -37px
}

.jssora12r.jssora12rdn {
	background-position: -315px -37px
}

p {
	margin: 0px;
}
</style>


<div id="jssor_1"
	style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 900px; height: 300px; overflow: hidden; visibility: hidden;">
	<!-- Loading Screen -->
	<div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
		<div
			style="filter: alpha(opacity = 70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
		<div
			style="position: absolute; display: block; background: url('images/loading.gif') no-repeat center center; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
	</div>
	<div data-u="slides" 
		style="cursor: default; position: relative; top: 0px; left: 0px; width: 900px; height: 300px; overflow: hidden;">
		<div data-p="112.50" style="display: none;" >
			<img data-u="image" src="images/02.jpg" />
		</div>
		<div data-p="112.50" style="display: none;">
			<img data-u="image" src="images/04.jpg" />
		</div>
		<div data-p="112.50" style="display: none;">
			<img data-u="image" src="images/05.jpg" />
		</div>
		<div data-p="112.50" style="display: none;">
			<img data-u="image" src="images/09.jpg" />
		</div> 
	</div>
	<!-- Bullet Navigator -->
	<div data-u="navigator" class="jssorb05"
		style="bottom: 16px; right: 16px;" data-autocenter="1">
		<!-- bullet navigator item prototype -->
		<div data-u="prototype" style="width: 16px; height: 16px;"></div>
	</div>
	<!-- Arrow Navigator -->
	<span data-u="arrowleft" class="jssora12l"
		style="top: 0px; left: 0px; width: 30px; height: 46px;"
		data-autocenter="2"></span> <span data-u="arrowright"
		class="jssora12r"
		style="top: 0px; right: 0px; width: 30px; height: 46px;"
		data-autocenter="2"></span>
</div>
<br>
<br>
<div
	style="margin-left: 2%; margin-right: 2%; margin-top: 3%; border-bottom: 1px solid grey;">
	<p>Upcoming Events</p>
</div>
<div class="row">
	<div style="margin-left: 4%; margin-right: 2%; margin-top: 3%;">
		<div style="display: inline-block; width: 25%;">
			<a href="#"> <img src="images/img_chania.jpg"
				alt="Generic placeholder thumbnail" style="width: 80%;">
			</a>
		</div>
		<div style="display: inline-block; width: 66%; position: absolute;">
			<p>
				<strong>Strawberry Fields - A Tribu...</strong>
			</p>
			<p>Sat,Nov 14 at 10:30 PM</p>
			<p>B.B.King Blues Club & Grill</p>

		</div>
	</div>

	<div style="margin-left: 4%; margin-right: 2%; margin-top: 3%;">
		<div style="display: inline-block; width: 25%;">
			<a href="#"> <img src="images/img_chania2.jpg"
				alt="Generic placeholder thumbnail" style="width: 80%;">
			</a>
		</div>
		<div style="display: inline-block; width: 66%; position: absolute;">
			<p>
				<strong>Strawberry Fields - A Tribu...</strong>
			</p>
			<p>Sat,Nov 14 at 10:30 PM</p>
			<p>B.B.King Blues Club & Grill</p>

		</div>
	</div>

	<div style="margin-left: 4%; margin-right: 2%; margin-top: 3%;">
		<div style="display: inline-block; width: 25%;">
			<a href="#"> <img src="images/img_flower.jpg"
				alt="Generic placeholder thumbnail" style="width: 80%;">
			</a>
		</div>
		<div style="display: inline-block; width: 66%; position: absolute;">
			<p>
				<strong>Strawberry Fields - A Tribu...</strong>
			</p>
			<p>Sat,Nov 14 at 10:30 PM</p>
			<p>B.B.King Blues Club & Grill</p>

		</div>
	</div>

	<div style="margin-left: 4%; margin-right: 2%; margin-top: 3%;">
		<div style="display: inline-block; width: 25%;">
			<a href="#"> <img src="images/img_flower2.jpg"
				alt="Generic placeholder thumbnail" style="width: 80%;">
			</a>
		</div>
		<div style="display: inline-block; width: 66%; position: absolute;">
			<p>
				<strong>Strawberry Fields - A Tribu...</strong>
			</p>
			<p>Sat,Nov 14 at 10:30 PM</p>
			<p>B.B.King Blues Club & Grill</p>

		</div>
	</div>
</div>
<script>
	jssor_1_slider_init();
</script>

<!-- <table class="table table-striped">
    <tr>
        <th ng-click="orderBy('firstName')">
            <msg key="firstName"></msg>
            <i ng-class="orderIcon('firstName')"></i></th>
        <th ng-click="orderBy('lastName')">
            <msg key="lastName"></msg>
            <i ng-class="orderIcon('lastName')"></i></th>
        <th>
            <msg key="delete"></msg>
        </th>
    </tr>
    <tr ng-repeat="person in persons|orderBy:order">
        <td>{{person.firstName}}</td>
        <td>{{person.lastName}}</td>
        <td><a ng-click="delete(person)"><i class="icon-trash"></i></a></td>
    </tr>
</table>

<form>
    <fieldset>
        <legend>
            <msg key="newPerson"></msg>
        </legend>

        <label>
            <msg key="firstName"></msg>
        </label>
        <input type="text" ng-model="person.firstName"/>

        <label>
            <msg key="lastName"></msg>
        </label>
        <input type="text" ng-model="person.lastName"/>

        <label></label>
        <button type="submit" class="btn" ng-click="save()">
            <msg key="save"></msg>
        </button>
    </fieldset>
</form> -->