<!DOCTYPE html>
<html ng-app="angularspring">

<head>
<meta name="viewport" content="initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<!-- <link href="bootstrap/css/datepicker.css" rel="stylesheet" media="screen"> -->
<link href="bootstrap/css/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">
<link href="bootstrap/css/awesomplete.css" rel="stylesheet" media="screen">
</head>

<body ng-controller="MainController">
	<script>
		window.fbAsyncInit = function() {
	    	FB.init({
	      	appId      : '513342798874235',
	      	xfbml      : true,
	      	version    : 'v1.0'
	    	});
	  	};

	  	(function(d, s, id){
	     	var js, fjs = d.getElementsByTagName(s)[0];
	     	if (d.getElementById(id)) {return;}
	     	js = d.createElement(s); js.id = id;
	     	js.src = "//connect.facebook.net/en_US/sdk.js";
	     	fjs.parentNode.insertBefore(js, fjs);
	   	}(document, 'script', 'facebook-jssdk'));
	  	
	</script>

	<style>
		@media screen and (max-width: 800px) and (min-width:300px)  {
			.navbar {
				position: fixed;
				width: 75%;
				z-index: 100;
				background-color: #e60000;
				border-color: #e60000;
				}	
		}
	
.navbar-header, .navbar-brand {
	text-align: center;
	float: none;
	margin-top: 1%;
}

.navbar {
	position: fixed;
	width: 100%;
	z-index: 100;
	background-color: #e60000;
	border-color: #e60000;
}

.navbar-inverse .navbar-brand {
	color: #FFFFFF;
}

body {
	color: #000000;
}

.awesomplete {
	width: 87% !important;
}

div.awesomplete {
	display: inline-table;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
	display: inline-block;
}

.socialMediaImage {
	 padding-right: 5px; 
	 display: inherit !important;"
}

.socialMediaImageLast {
	 display: inherit !important;"
}
</style>

	<!-- <div class="navbar navbar-fixed">
		<div class="navbar-inner" style="text-align: center;">
			<a class="brand" href="#" style="margin: 0 auto; float: inherit;">
				<msg key="title"></msg>
			</a>
			
			<p class="navbar-text pull-right" style="margin-right: 5em"
				ng-show="user.name">
				<a ng-click="logout()">Logout</a>
			</p>

			<p class="navbar-text pull-right" style="margin-right: 5em"
				ng-show="user.name">Welcome {{user.name}}</p>
		</div>
	</div> -->
	<!-- Load Facebook SDK for JavaScript -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<div>
		<nav class="navbar navbar-inverse" role="navigation" style="border-radius: 0px;">

			<div class="navbar-header">
				<a class="navbar-brand" href="#">Soundtrip</a>
			</div>
		</nav>
		<form>
			<div class="homeHeader" id="homeHeader">
				<div style="width: 48%; display: inline-block; margin-left: 4%;" id="cityList">
					<select name="repeatSelect" id="repeatSelect" style="width: 100%; height: 33px;" ng-model="selectedHomeCity"
						ng-change="citySelected()">
						<option>All Cities</option>
						<option ng-repeat="option in cityOptions">{{option.name}}</option>
					</select>
				</div>
				<div style="width: 48%; display: inline-block; position: absolute; margin-top: -1px;" id="searchEvent">
					<div class="input-group" style="display: inline-flex; width: 90%;" id="init-group">
						<!-- <input type="text" class="form-control" placeholder="Search for..." style="width: 87%;"
							onfocus="searchActive('focus')" onblur="searchActive('blur')">  -->
						<!-- <input	id="myinput" ng-model="selectedGenre" ng-change="getSelectedGenre()"
							class="dropdown-input" placeholder="Search for..."
							style="width: 100%; height: 34px" onfocus="searchActive('focus')" onblur="searchActive('blur')" />  -->
						<div style="width: 100%; z-index: 10;" id="searchEventDiv">
							<div style="width: 100%;">
								<input type="text" class="form-control" ng-model="selectedGenre" ng-change="getSelectedGenre()"
									placeholder="Search for..." id="genreInput"
									style="width: 92%; border-radius: 0px; height: 33px; margin-top: 1px;" class="dropdown-input"
									onfocus="searchActive()" /> <span class="input-group-btn" style="margin-left: 1px;">
									<button class="btn btn-default" type="button" style="margin-top: 0px;" ng-click="searchClicked()"><span class="glyphicon glyphicon-search"></span></button>
								</span> <span class="input-group-btn" style="margin-left: 45px;">
									<button class="btn btn-default" type="button" style="margin-top: 0px; border-radius: 4px; display: none;"
										id="hideSearchBtn" onclick="hideSearchEvent()">X</button>
								</span>
							</div>
							<div style="width: 100%;">
								<ul id="genreList"
									style="list-style: none; background-color: #FFFFFF; width: 92%; margin-top: 0px; display: none; border: 1px solid red; padding-left: 15px;">
									<li ng-repeat="genre in genrelist" ng-click="genreListClick(genre.name)" style="cursor: pointer;">{{genre.name}}</li>
								</ul>
							</div>
						</div>



					</div>

				</div>
			</div>
		</form>
	</div>
	<div class="container" style="margin-bottom: 3%;">
		<div ng-class="'alert alert-'+message().type" ng-show="message().show">
			<button type="button" class="close" ng-click="message().show=false">×</button>
			<msg key-expr="message().text"></msg>
		</div>

		<div class="modal" style="display: none" id="login">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">x</a>

				<h3>Login</h3>
			</div>
			<div class="modal-body">
				<label>See applicationContext.xml for valid username/password.</label>
				<div class="control-group">
					<label class="control-label" for="username">Username</label>

					<div class="controls">
						<input id="username" ng-model="username" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password">Password</label>

					<div class="controls">
						<input type="password" id="password" ng-model="password" />
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a ng-click="login()" class="btn btn-primary">Login</a> <a data-dismiss="modal" class="btn">Cancel</a>
			</div>
		</div>
		<ng-view></ng-view>
	</div>
	<nav class="navbar navbar-inverse" role="navigation"
		style="border-radius: 0px; position: absolute; margin-bottom: 0px;">
		<div class="navbar-footer" style="margin-top:10px;">
			<a class="navbar-brand" href="#">Soundtrip</a>
			<div style="float: right; margin-right: 10px;">
				<a target="_blank" title="Frequently Answered Questions" href="static/faq.html" style="padding-right:5px; color:white;">FAQ</a>
				<a target="_blank" title="About Us" href="static/aboutus.html" style="padding-right:10px; color:white;">About Us</a>
				<a target="_blank" title="follow me on facebook" href="http://www.facebook.com/MusicChartTestPageDheeraj"><img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border=0 class="socialMediaImage"></a>
				<a target="_blank" title="follow me on Twitter" href="http://www.twitter.com/PLACEHOLDER"><img alt="follow me on Twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter30x30.png" border=0 class="socialMediaImage"></a>
				<a target="_blank" title="follow me on instagram" href="http://www.instagram.com/PLACEHOLDER"><img alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram30x30.png" border=0 class="socialMediaImage"></a>
				<a target="_blank" title="follow me on google plus" href="https://plus.google.com/PLACEHOLDER"><img alt="follow me on google plus" src="https://c866088.ssl.cf3.rackcdn.com/assets/googleplus30x30.png" border=0 class="socialMediaImage"></a>
				<a target="_blank" title="follow me on pinterest" href="http://www.pinterest.com/PLACEHOLDER"><img alt="follow me on pinterest" src="https://c866088.ssl.cf3.rackcdn.com/assets/pinterest30x30.png" border=0 class="socialMediaImageLast"></a>
			</div>
		</div>
	</nav>

	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script src="jquery/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.i18n.properties-min-1.0.9.js"></script>
	<script type="text/javascript" src="js/external/angular-1.0.2/angular.js"></script>
	<script type="text/javascript" src="js/external/angular-1.0.2/angular-route.js"></script>
	<script type="text/javascript" src="js/init.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
	<script type="text/javascript" src="js/eventHomeController.js"></script>
	<script type="text/javascript" src="js/eventDetailsController.js"></script>
	<script type="text/javascript" src="js/eventMasterController.js"></script>
	<script type="text/javascript" src="js/i18n.js"></script>
	<script type="text/javascript" src="js/base64.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<!-- <script type="text/javascript" src="js/external/bootstrap-datepicker.js"></script> -->
	<script type="text/javascript" src="js/external/bootstrap-datetimepicker.js"></script>

	<!-- <script type="text/javascript" src="js/external/awesomplete.js"></script> -->
	<!-- <script>
		var comboplete = new Awesomplete(Awesomplete.$('input.dropdown-input'),
				{
					minChars : 0,
					list : [ "Pop", "Jazz", "Blues", "Classic Rock",
							"Indian Classical" ],
				});
		Awesomplete.$('.dropdown-input').addEventListener("focus", function() {
			if (comboplete.ul.childNodes.length === 0) {
				comboplete.minChars = 0;
				comboplete.evaluate();
			} else if (comboplete.ul.hasAttribute('hidden')) {
				comboplete.open();
			} else {
				comboplete.close();
			}
		});

		
	</script> -->
</body>

</html>

