<!DOCTYPE html>
<html ng-app="angularspring">

<head>
<meta name="viewport" content="initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<!-- <link href="bootstrap/css/datepicker.css" rel="stylesheet" media="screen"> -->
<link href="bootstrap/css/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">
<link href="bootstrap/css/awesomplete.css" rel="stylesheet" media="screen">
<link href="css/style-demo.css" rel="stylesheet" media="screen">
<link href="css/main.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="js/external/completeloading/jquery.min.js"></script>
<script type="text/javascript" src="js/external/completeloading/modernizr.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.i18n.properties-min-1.0.9.js"></script>
<script type="text/javascript" src="js/external/angular-1.0.2/angular.js"></script>
<script type="text/javascript" src="js/external/angular-1.0.2/angular-route.js"></script>
<script type="text/javascript" src="js/init.js"></script>
<script type="text/javascript" src="js/controller.js"></script>
<script type="text/javascript" src="js/eventHomeController.js"></script>
<script type="text/javascript" src="js/eventDetailsController.js"></script>
<script type="text/javascript" src="js/eventMasterController.js"></script>
<script type="text/javascript" src="js/i18n.js"></script>
<script type="text/javascript" src="js/base64.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<!-- <script type="text/javascript" src="js/external/bootstrap-datepicker.js"></script> -->
<script type="text/javascript" src="js/external/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="js/external/imgslider/jssor.slider.min.js"></script>
<script type="text/javascript" src="js/external/imgslider/img_slider.js"></script>
<style>
.navbar-toggle:hover, .navbar-toggle:focus{
	background-color: grey !important;
}
.footdiv Div a img{
	height: 20px;
}

@media (min-width: 768px){
	.navbar-toggle {
    	display: block;
    	left: 270px;
	}
}
</style>
</head>

<body ng-controller="MainController" ng-cloak>
	<script>
		//paste this code under the head tag or in a separate js file.
		// Wait for window load
		(function($) {
			$(window).load(function() {
				// Animate loader off screen
				$(".se-pre-con").fadeOut("slow");
			});
		})(jQuery);
	</script>
	<div class="se-pre-con"></div>
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId : '513342798874235',
				xfbml : true,
				version : 'v1.0'
			});
		};

		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {
				return;
			}
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<!-- <div class="navbar navbar-fixed">
		<div class="navbar-inner" style="text-align: center;">
			<a class="brand" href="#" style="margin: 0 auto; float: inherit;">
				<msg key="title"></msg>
			</a>
			
			<p class="navbar-text pull-right" style="margin-right: 5em"
				ng-show="user.name">
				<a ng-click="logout()">Logout</a>
			</p>

			<p class="navbar-text pull-right" style="margin-right: 5em"
				ng-show="user.name">Welcome {{user.name}}</p>
		</div>
	</div> -->
	<!-- Load Facebook SDK for JavaScript -->
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<div>
		<form>
			<nav class="navbar navbar-inverse" role="navigation" style="border-radius: 0px; height: 120px;">
				<div style="display: table; width: 100%; table-layout: fixed; margin-top: 2%;">
					<div style="display: table; width: 100%; table-layout: fixed;" id="selectHeaderDiv">
						<div class="btn-group">
							<button type="button" class="form-control btn btn-default dropdown-toggle" data-toggle="dropdown"
								style="width: 100px; height: 32px;" id="drpdwnbtn">
								{{selectedHomeCity}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a ng-click="citySelected('All Cities')">All Cities</a></li>
								<li ng-repeat="option in cityOptions"><a ng-click="citySelected(option.name)">{{option.name}}</a></li>
							</ul>
						</div>
					</div>
					<div class="navbar-header" style="display: table-cell;" id="headerLogoDiv">
						<a class="navbar-brand" href="#">Soundtrip</a>
					</div>
					<div style="display: table-cell;">
						<div class="input-group" style="display: inline-flex; width: 90%;" id="init-group">

							<div style="width: 100%; z-index: 10;" id="searchEventDiv">
								<div style="width: 100%; margin-left: 5%;">
									<input type="text" class="form-control" ng-model="selectedGenre" ng-change="getSelectedGenre()"
										placeholder="Search for..." id="genreInput" style="border-radius: 4px; height: 33px; display: none;"
										class="dropdown-input" onfocus="searchActive()" /> <span class="input-group-btn" style="margin-left: 3px;">
										<button class="btn btn-default" id="activeSearchBtn" type="button" style="margin-top: 0px;"
											ng-click="getSearchActive()">
											<span class="glyphicon glyphicon-search"></span>
										</button>
										<button class="btn btn-default" type="button" id="searchBtnGenere" style="margin-top: 0px; display: none;"
											ng-click="searchClicked()">
											<span class="glyphicon glyphicon-search"></span>
										</button>
									</span> <span class="input-group-btn" style="margin-left: 30px;">
										<button class="btn btn-default" type="button" style="margin-top: 0px; border-radius: 4px; display: none;"
											id="hideSearchBtn" ng-click="hideSearchEvent()">X</button>
									</span> <span class="input-group-btn" id="menuNavHead">
										<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse" ng-click="enableDisableMenu()">
											<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</span>
								</div>
								<div style="width: 100%; margin-top: 1px;">
									<ul id="genreList"
										style="list-style: none; background-color: grey; margin-top: 0px; display: none; border: 1px solid #000000; color: #FFFFFF; padding-left: 15px; margin-left: 5%;">
										<li ng-repeat="genre in genrelist" ng-click="genreListClick(genre.name)" style="cursor: pointer;">{{genre.name}}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="collapse navbar-collapse" id="example-navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Blog</a></li>
					</ul>
				</div>
			</nav>
		</form>
	</div>
	<div class="container" style="margin-bottom: 3%;">
		<!-- <div ng-class="'alert alert-'+message().type" ng-show="message().show">
			<button type="button" class="close" ng-click="message().show=false">×</button>
			<msg key-expr="message().text"></msg>
		</div> -->

		<!-- <div class="modal" style="display: none" id="login">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">x</a>

				<h3>Login</h3>
			</div>
			<div class="modal-body">
				<label>See applicationContext.xml for valid username/password.</label>
				<div class="control-group">
					<label class="control-label" for="username">Username</label>

					<div class="controls">
						<input id="username" ng-model="username" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password">Password</label>

					<div class="controls">
						<input type="password" id="password" ng-model="password" />
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a ng-click="login()" class="btn btn-primary">Login</a> <a data-dismiss="modal" class="btn">Cancel</a>
			</div>
		</div> -->
		<ng-view></ng-view>
	</div>
	<nav class="navbar navbar-inverse navbar-bottom" role="navigation"
		style="border-radius: 0px; position: absolute; margin-bottom: 0px; height: 80px;">
		<div style="width: 100%; margin-top: 30px;">
			<div class="navbar-footer footdiv" style="margin-top: 35px;">
				<a class="navbar-brand" href="#">Soundtrip</a>
			</div>
			<div class="navbar-footer footdiv" style="margin-top: 35px;">
				<div>
					<a target="_blank" title="Frequently Answered Questions" href="static/faq.html"
						style="padding-right: 5px; color: white;">FAQ</a> <a target="_blank" title="Privacy Policy"
						href="static/aboutus.html" style="padding-right: 10px; color: white;">Privacy Policy</a> <a target="_blank"
						title="follow me on facebook" href="http://www.facebook.com/MusicChartTestPageDheeraj"><img
						alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border=0
						class="socialMediaImage"></a> <a target="_blank" title="follow me on Twitter"
						href="http://www.twitter.com/PLACEHOLDER"><img alt="follow me on Twitter"
						src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter30x30.png" border=0 class="socialMediaImage"></a> <a
						target="_blank" title="follow me on instagram" href="http://www.instagram.com/PLACEHOLDER"><img
						alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram30x30.png" border=0
						class="socialMediaImage"></a> <a target="_blank" title="follow me on google plus"
						href="https://plus.google.com/PLACEHOLDER"><img alt="follow me on google plus"
						src="https://c866088.ssl.cf3.rackcdn.com/assets/googleplus30x30.png" border=0 class="socialMediaImage"></a> <a
						target="_blank" title="follow me on pinterest" href="http://www.pinterest.com/PLACEHOLDER"><img
						alt="follow me on pinterest" src="https://c866088.ssl.cf3.rackcdn.com/assets/pinterest30x30.png" border=0
						class="socialMediaImageLast"></a>
				</div>
			</div>
		</div>
	</nav>
</body>

</html>

